<%- include('./partials/header') %>
<div class="home-container">
    <div class="home-icon">
        <img id="home-chick" height="100%" src="/icons/chick.jpg" alt="">
    </div>
    <div class="login">
        <h1>Welcome to ChirpHub!</h1><br>
        <h3>Please login to get started</h3>
        
        <a href="/auth/google" class="css-button-shadow-border--rose">LOG IN&nbsp;
            <!-- <img src="https://i.imgur.com/FHjYyi0.png"> -->
        </a>
    </div>
</div>

<%- include('./partials/footer') %>