<%- include('./partials/header') %>
<div class="home-container">
    <div class="home-icon">
        <img id="home-chick" height="100%" src="/icons/chick.jpg" alt="">
    </div>
    <div class="login">
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    </div>
</div>
<h1><%= title %></h1>

<h2>VIEWS/INDEX</h2>
<H3>EDIT PRE LOGIN PAGE</H3>

<%- include('./partials/footer') %>