<%- include('./partials/header') %>
<!-- <nav>
    <a href="/">HOME PAGE PATH</a>
    <% if (user) { %>
    <a href="/posts">Dashboard</a>
    <a href="/users/<%= user._id %>">Profile</a>
    <a href="/logout">LOG OUT</a>
    <% } else { %>
    <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
</nav> -->

<h1><%= title %></h1>

<h2>VIEWS/INDEX</h2>
<H3>EDIT PRE LOGIN PAGE</H3>

<%- include('./partials/footer') %>