:root {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  --text-primary: #ffffe3;
  --text-secondary: #FCFFE0;
  --bg-primary: #dfbbda;
  --bg-secondary: #896790;
  --transition-speed: 600ms;
}
.courgette-regular {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: Helvetica; */
}

body, html {
  height: 100%;
  margin: 0;
  background: rgb(182,184,246);
  /* background: linear-gradient(180deg, rgba(182,184,246,0.8127626050420168) 0%, rgba(203,248,255,0.8883928571428571) 100%); */
  background: rgb(20,24,82);
  background: linear-gradient(184deg, rgba(20,24,82,0.5438550420168067) 28%, rgba(133,89,136,0.2805497198879552) 100%);
  /* background: linear-gradient(180deg, rgba(20,24,82,1) 0%, rgba(133,89,136,0.47942927170868344) 100%); */
}
/*------ scroll bar -----------*/
.main-content::-webkit-scrollbar {
  width: 0.5rem;
}

.main-content::-webkit-scrollbar-track {
  /* background: black; */
  box-shadow: inset 0 0 15px grey;
  border-radius: 10px;
}

.main-content::-webkit-scrollbar-thumb {
  background: plum;
  border-radius: 20px;
}

/*-----GRID CONTAINER----*/
.grid-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr 3fr 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  height: 100%;
  overflow: hidden;
}

.home-container {
  grid-column: 2 / 5;
  grid-row: 2 / 5;
  background-color: yellow;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 700px;
  justify-items: center;
  align-items: center;
}
.home-icon {
  background-color: green;
  height: 80%;
}


.login {
  background-color: orange;

}

.navbar {
  grid-column: 2;
  grid-row: 1 / 6;
  justify-self: end;
  background-color: var(--bg-primary);
  width: 6rem;
  /* height: 100vh; */
  transition: 200ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /* border: 2px solid black; */
  box-shadow: -18px 16px 23px 3px rgba(34,47,91,0.67);
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(40%) opacity(0.9);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}
.link-text {
  display: none;
  margin-left: 1rem;
}
/*------ img ---------*/
.nav-link img {
  width: 3.2rem;
  margin: 0 1.5rem;
  border: 2px solid orange;
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
  border: 2px solid orange;
}
/*------ hover effect ---------*/
.navbar:hover {
  width: 15rem;
}

.navbar:hover .link-text {
  display: block;
}

.fill-primary {
  fill: var(--text-primary);
  transition: var(--transition-speed);
}

/*------ logo ---------*/
.logo {
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.2ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}


/*-----TEXT BOX----*/


.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}



 form .btn {
  font-weight: 400;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.2ch;
  color: #fff;
  background: linear-gradient(22deg, #303c51db 0%, #6aabd2 70%);
  padding: 5px 20px;
  border: none;
  box-shadow: none;
  border-radius: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.main-content {
  grid-column: 3;
  grid-row: 1 / 6;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
#username {
  text-transform: uppercase;
}

#text {
  font-size: 20px;
  font-weight: 600;
}
/*--------------HOME PAGE------------*/
.post-content {
  background-color: rgba(255, 255, 255);
  color: black;
  margin-top: 10px;
  border: 4px solid #e2eeff;
  border-radius: 15px;
  padding: 1em; 
}
/*-----FLEX ITEM----*/
#post-form {
  padding: 5px;
  margin: 4px 0;
}

.post-form {
  width: 100%;
  height: 8rem;
  font-family: "Courgette", cursive;
  border: 0;
  outline: 0;
  color: rgb(60, 66, 87);
  background-color: rgba(254, 255, 246, 0.952);
  box-shadow: rgb(60 66 87 / 16%) 0px 0px 0px 1px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 4px 8px;
  min-height: 28px;
  vertical-align: middle;
  transition: background-color .24s,box-shadow .24s;
  transition-property: background-color, box-shadow;
  transition-duration: 0.24s, 0.24s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}
.post-form:focus{
    box-shadow:  rgb(58 151 212 / 25%) 0px 0px 0px 2px;
}


/*-----FLEX ITEM----*/
#all-posts, #single-post {
  width: 100%;
}

/*--------------DETAILED POST----------*/

.show-container, .edit-container {
  grid-column: 3;
  grid-row: 1 / 6;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
/*-----FLEX ITEM ----*/
#single-post {
  width: 100%;
  background-color: rgba(255, 255, 255);
  height: 9em;
  margin-top: 10px;
  border: 4px solid #fbfd9e;
  border-radius: 15px;
  padding: 1em;
}

#comment-form {
  width: 100%;
  height: 9em;
  font-family: "Courgette", cursive;
  border: 0;
  outline: 0;
  color: rgb(60, 66, 87);
  background-color: rgba(254, 255, 246, 0.952);
  box-shadow: rgb(60 66 87 / 16%) 0px 0px 0px 1px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 4px 8px;
  min-height: 28px;
  vertical-align: middle;
  transition: background-color .24s,box-shadow .24s;
  transition-property: background-color, box-shadow;
  transition-duration: 0.24s, 0.24s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}
#comment-form:focus{
    box-shadow:  rgb(58 151 212 / 25%) 0px 0px 0px 2px;
}

.comment-container {
  height: 100%;
}
.comment-content {
  background-color:rgba(255, 255, 255);
  margin-bottom: 5px;
  border: 4px solid #442b63;
  border-radius: 15px;
  padding: 1em;
}


.post a {
  color: #B95CF4;
}

.action-controls {
  display: flex;
}
