/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  color: #424748;
}

body {
  margin: 0;
  /* height: 100vh; */
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8ECEB;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}


.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

/*-----GRID CONTAINER----*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 3fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  background-color: #B95CF4;
}

/*-----GRID ITEM 3----*/
.post-form {
  grid-column: 3;
  grid-row: 1;
}

/*-----GRID ITEM 6----*/
.post-container {
  width: 100%;
  background-color: grey;
  grid-column: 3;
  grid-row: 2 / span 3;
}

.post-content {
  display: grid;
  border: #424748 solid 3px;
  padding: 3px 3px;
  /* background-color: yellow; */
}


.post a {
  color: #B95CF4;
}

.action-controls {
  display: flex;
}
/* 
.container {
  display: grid;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
} */
