<%- include('../partials/header') %>
<div>
    <form action="/posts" method="POST">
        <textarea name="content" id="" cols="30" rows="10"><%= post.content%></textarea><br>
        <button type="submit">SUBMIT ME</button>
    </form>
</div>


<%- include('../partials/footer') %>