<%- include('../partials/header') %>
<div class="edit-container">
    <form action="/posts/<%= post._id %>/edit" method="POST">
        <input type="text" class="post-form" name="content" value="<%= post.content%>"></input>
        <button id="comment-btn" class="btn" type="submit">Post</button>
        
    </form>
</div>


<%- include('../partials/footer') %>